h1,h2,h3,h4,h5,h6{
  line-height: 1.5;
}

/* img {
  border: 1px solid #dfdfdf;
  border-radius: 10px;
} */

.c-dark-grey {
  /* color: #fafafa !important; */
  background-color: white !important;
}

.card-footer {
  background-color: white;
  border-top: none;
  padding-top: 0px;
}

.card-body {
  padding-top: 10px;
  padding-bottom: 5px;
}

.card-box {
  border-color: rgb(238, 238, 238);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.c-footer {
  position: absolute;
  bottom: 20px;
  margin-left: 20px;
}

.c-footer-weibo {
  display: flex;
  align-items: center;
}

.c-bg {
  background-color: #f2f2f4;
}

.c-hr {
  border-top-color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.c-radius {
  border-radius: 10px;
}

.c-ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.c-a {
  color: gray;
}

.c-title {
  /* font-weight: 600; */
}

.c-price {
  font-weight: 600;
  color: #f3432c;
}

.c-text {
  padding-bottom: 5px;
}

.c-search-title {
  padding-bottom: 0px !important;
}

.sold-out-top-left {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  z-index: 0;
  font-weight: 600;
  color: white;
}

.badge-font-weight {
  font-weight: 400;
}

.content-margin {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
}

.menu-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-content {
  display: flex;
}