h1,h2,h3,h4,h5,h6{
  line-height: 1.5;
}

/* img {
  border: 1px solid #dfdfdf;
  border-radius: 10px;
} */

.card-footer {
  background-color: white;
  border-top: none;
  padding-top: 0px;
}

.card-body {
  padding-top: 10px;
  padding-bottom: 5px;
}

.c-body {
  background-color: #f2f2f3;
}

.c-card {
  background-color: rgb(253 225 221)!important;
}

.c-radius {
  border-radius: 10px;
}

.c-ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.c-a {
  color: gray;
}

.c-title {
  /* font-weight: 600; */
}

.c-price {
  font-weight: 600;
  color: #f3432c;
}

.sold-out-top-left {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  z-index: 2;
  font-weight: 600;
  color: white;
}

.badge-font-weight {
  font-weight: 400;
}