h1,h2,h3,h4,h5,h6{
  line-height: 1.5;
}

.c-ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.c-a {
  color: gray;
}

@media only screen and (min-width: 601px) {
  .c-card-fixed {
    height: 420px;
  }

  .c-card-list-fixed {
    height: 90px;
  }
}

@media only screen and (max-width: 600px) {
  .c-card-fixed {
    height: 380px;
  }

  .c-card-list-fixed {
    height: 90px;
  }
}